

<div id="about">
    <ul class="list-inline text-center">
      <% ["sabrinacate", "Johnleot3", "emawutor"].each do |gh_username| %>
        <div class="col-xs-12 col-sm-4">
          <div class="userid">
            <li>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
              <h3><%= gh_username.capitalize %></h3>
            </li>
          </div>
        </div>
      <% end %>
    </ul>
    </div>
</div>
